*
{
    margin: 0;
	padding: 0;
	font-family: 'Oxygen';
}

@font-face {
    font-family: 'Oxygen';
    src: url(../font/Oxygen-Regular.ttf);
}

/* @font-face {
    font-family: 'Oxygen bold';
    src: url(../font/Oxygen-Bold.ttf);
} */

 .container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #385075;
}

.text 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text h1
{
    font-weight: bold;
    font-size: 50px;
    line-height: 81px;
    margin-top: 40px;
}

.text p
{
    margin-top: 30px;
    width: 85%;
    font-size: 20px;
    letter-spacing: 0.01rem;
    line-height: 30px;
}

button
{
    margin-top: 50px;
    padding: 17px 46px;
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    border-radius: 5px;
    color: #385075;
    border: none;
    font-size: 20px;
    align-self: flex-end;
    margin-right: 100px;
}

button:active
{
    background-color: #385075;
    color: #FFFFFF;
    border: white;
}
