*
{
    margin: 0;
	padding: 0;
	font-family: 'Oxygen';
}

@font-face {
    font-family: 'Oxygen';
    src: url(../font/Oxygen-Regular.ttf);
}

@font-face {
    font-family: 'Oxygen bold';
    src: url(../font/Oxygen-Bold.ttf);
}

 .container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rfid 
{ 
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rfid img
{
    width: 180px;
    height: 270px;
}

h1
{
    font-weight: bold;
    font-size: 45px;
    line-height: 81px;
    margin-top: 55px;
    color: #C6CBCF;
}

